@media (max-width: 320px) {


    /*----------------------------------------------------------------------------*/
    /*                                    MENU                                    */
    /*----------------------------------------------------------------------------*/
    

    .menu-c {
        justify-content: flex-end;
        padding: 0px 8px;
    }
    
    .menu-logo {
        position: relative;
        top: 4px;
    }
    
    .menu-logo-img {
        width: 25px;
    }
    
    .menu-logo h2 {
        font-size: 16px;
        position: relative;
        top: -1.5px;
    }
    
    .btn-contato {
        display: none;
    }
    

    /*----------------------------------------------------------------------------*/
    /*                                 MENU MOBILE                                */
    /*----------------------------------------------------------------------------*/

    
    .menu__btn {
        top: 20px;
        left: 10px;
    }


    /*----------------------------------------------------------------------------*/
    /*                                  INÍCIO                                    */
    /*----------------------------------------------------------------------------*/
    

    .inicio-c {
        padding: 0px 20px;
    }
    
    .inicio-img-mao {
        width: 90px;
    }
    
    .inicio-title {
        font-size: 2.2rem;
    }
    
    .inicio-paragrafo {
        font-size: 12px;
    }
    
    br {
        display: none;
    }
    
    .btn-produtos p {
        font-size: 14px;
    }
    
    .btn-produtos img {
        width: 15px;
    }


    /*----------------------------------------------------------------------------*/
    /*                                  BANNER                                    */
    /*----------------------------------------------------------------------------*/
    


    .banner-c {
        padding: 0px 8px;
        margin: 40px 8px 0px 8px;
    }
    
    .banner-fundo-esquerdo img {
        width: 150px;
    }
    
    .banner-frete-gratis-c {
        text-align: center;
    }
    
    .banner-frete-gratis h3 {
        font-size: .4rem;  
    }
    
    .banner-frete-gratis h2 {
        font-size: .99rem;
        padding-bottom: 5px;
    }
    
    .banner-frete-gratis p {
        padding: 5px 15px;
        font-size: .6rem;
    }

    
    /*----------------------------------------------------------------------------*/
    /*                                 CARROSSEL                                  */
    /*----------------------------------------------------------------------------*/
    

    .slides {
        padding: 0px 8px;
    }
    
    .slides-c {
        height: 180px;
        background-image: url();
    }
    
    .seta {
        display: flex;
        padding: 6px;
    }
    
    .seta-anterior {
        left: 10px;
        bottom: 45%;
    }
    
    .seta-proximo {
        right: 10px;
        bottom: 47.4%;
    }
    
    .carrocel-card {
        padding: 0px 30px;
    }
    
    .carrocel-card-img img {
        width: 100px;
        margin-right: 0px;
    }
    
    .carrocel-card-informacoes-quantidade {
        font-size: 9.8px;
        padding: 0px 5px;
        border-radius: 3px;
    }
    
    .carrocel-card-informacoes-title {
        margin-top: 5px;
        font-size: 11px;
    }
    
    .carrocel-card-informacoes-preco-antigo {
        font-size: 9px;
        margin-top: 5px;
    }
    
    .carrocel-card-informacoes-preco-atual {
        margin-bottom: 5px;
        font-size: 10px;
    }
    
    .carrocel-card-informacoes-preco-atual span { 
        font-size: 20px;  
    }
    
    .carrocel-card-informacoes-btn {
        font-size: 10px;
    }
    
    
    /*----------------------------------------------------------------------------*/
    /*                                 APLICAÇÕES                                 */
    /*----------------------------------------------------------------------------*/
    

    .aplicacoes-produtos {
        padding: 0px 8px;
    }
    
    .aplicacoes-produtos-title h2{
        font-size: 1rem;
    }
    
    .aplicacoes-produtos-title img {
        width: 10px;
    }
    
    .aplicacoes-produtos-c {
        padding: 10px 0px;
    }
    
    .aplicacoes-produtos-c img {
        width: 40px;
        margin-bottom: 10px;
    }
    
    .aplicacoes-produtos-img h2 {
        font-size: 10px;
        padding: 0px 10px;
    }
    
    .aplicacoes-produtos-linha img {
        width: 10px;
        height: 30px;
    }

    
    /*----------------------------------------------------------------------------*/
    /*                                  PRODUTOS                                  */
    /*----------------------------------------------------------------------------*/
    

    .produtos-c {
        padding: 5px 8px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 8px;
    }
    
    .produtos-title {
        margin: 30px 10px;
    }
    
    .produtos-title img {
        width: 45px;
    }
    
    .produtos-title h2 {
        font-size: 30px;
        margin-right: 10px;
    }
    
    .produtos-title-seta img {
        width: 20px;
    }
    
    .produtos-card {
        /* justify-content: center; */
    
    }
    
    .produtos-card-topo h2{
        font-size: 7px;
    }
    
    .produtos-card-imagens {
        height: 125px;
        margin: 15px 15px 2px 15px;
    }
    
    .produtos-card-informacao {
        padding: 0px 10px;
        width: 100%;
    }
    
    .produtos-card-quantidade  {
        font-size: 9.8px;
    }
    
    .produtos-card-nome {
        font-size: 12px;
    }
    
    .produtos-card-preco-antigo {
        font-size: 11px;
    }
    
    .produtos-card-preco {
        font-size: 22px;
        margin: 0px;
    }
    
    .produtos-card-a-vista {
        font-size: 11px;
    }
    
    .produtos-card-btn {
        font-size: 12px;
    }
    .produtos-card-btn img {
        width: 15px;
        vertical-align: text-bottom;
    }
    
    
    /*----------------------------------------------------------------------------*/
    /*                                PRÓXIMA PÁGINA                              */
    /*----------------------------------------------------------------------------*/
    

    .produtos-proxima-pagina {
        gap: 5px;
    }
    
    .produtos-proxima-pagina a {
        font-size: .8rem;
        padding: 6px 10px;
        border-radius: 8px;
    }
    
    .produtos-proxima-pagina img {
        width: 15px;
    }


    /*----------------------------------------------------------------------------*/
    /*                                  FOOTER                                    */
    /*----------------------------------------------------------------------------*/
    
    
    .footer-informacoes {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }
    
    .footer-info h2 {
        font-size: 1.4rem;
    }
    
    .footer-info a {
        font-size: .9rem;
    }
    
    .footer-rs {
        width: 150px;
        margin-bottom: 30px;
    }
    
    .footer-contato-btn {
        width: 150px;
        text-align: center;
    }
    
    }
    