@media (min-width: 377px) and (max-width: 431px) {


    /*----------------------------------------------------------------------------*/
    /*                                    MENU                                    */
    /*----------------------------------------------------------------------------*/
    

    .menu-c {
        justify-content: flex-end;
        padding: 0px 8px;
    }
    
    .menu-logo {
        position: relative;
        top: 5px;
    }
    
    .menu-logo-img {
        width: 25px;
    }
    
    .menu-logo h2 {
        font-size: 16px;
        position: relative;
        top: -1.5px;
    }
    
    .btn-contato {
        display: none;
    }
    

    /*----------------------------------------------------------------------------*/
    /*                                 MENU MOBILE                                */
    /*----------------------------------------------------------------------------*/

    
    .menu__btn {
        top: 20px;
        left: 10px;
    }

    .menu__box {
        padding: 80px 10px 80px 10px;
        gap: 30px;
    }
    
    .menu__box ul {
        gap: 25px;
    }
    
    .menu__item {
        font-size: 18px;
    }
    
    .menu-bolsa-de-compras {
        width: 25px;
    }
    
    .menu-seta-para-baixo {
        width: 11px;
    }
    
    .menu-simbolo-localizacao {
        width: 25px;
    }
    
    .menu-simbolo-mais {
        width: 25px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .menu-simbolo-presente {
        width: 25px;
    }
    
    .menu-contato-btn {
        align-self: center;
    }
    
    .menu-contato-btn a {
        padding: 8px 40px;
        font-size: 18px;
    }


    /*----------------------------------------------------------------------------*/
    /*                                  INÍCIO                                    */
    /*----------------------------------------------------------------------------*/
    

    .inicio-c {
        padding: 0px 20px;
    }
    
    .inicio-img-mao {
        width: 90px;
    }
    
    .inicio-title {
        font-size: 2.2rem;
    }
    
    .inicio-paragrafo {
        font-size: 12px;
    }
    
    br {
        display: none;
    }
    
    .btn-produtos p {
        font-size: 14px;
    }
    
    .btn-produtos img {
        width: 15px;
    }


    /*----------------------------------------------------------------------------*/
    /*                                  BANNER                                    */
    /*----------------------------------------------------------------------------*/
    


    .banner-c {
        padding: 0px 8px;
        margin: 40px 8px 0px 8px;
    }
    
    .banner-fundo-esquerdo img {
        width: 150px;
    }
    
    .banner-frete-gratis-c {
        text-align: center;
    }
    
    .banner-frete-gratis h3 {
        font-size: 8px;  
    }
    
    .banner-frete-gratis h2 {
        font-size: 19px;
        padding-bottom: 8px;
    }
    
    .banner-frete-gratis p {
        padding: 5px 15px;
        font-size: .6rem;
    }

    
    /*----------------------------------------------------------------------------*/
    /*                                 CARROSSEL                                  */
    /*----------------------------------------------------------------------------*/
    

    .slides {
        padding: 0px 8px;
    }
    
    .slides-c {
        height: 180px;
    }
    
    .seta {
        display: flex;
        padding: 6px;
    }
    
    .seta-anterior {
        left: 10px;
        bottom: 45%;
    }
    
    .seta-proximo {
        right: 10px;
        bottom: 47.4%;
    }
    
    .carrocel-card {
        padding: 0px 30px;
    }
    
    .carrocel-card-img {
        display: flex;
        align-items: flex-end;
    }

    .carrocel-card-img .carrossel-img-1 {
        width: 95px;
        margin: 13px 5px 0px 0px;
    }

    .carrocel-card-img .carrossel-img-2 {
        width: 95px;
        margin: 13px 5px 0px 0px;
    }

    .carrocel-card-img .carrossel-img-3 {
        width: 110px;
        margin: 18px 0px 0px 0px;
    }

    .carrocel-card-img .carrossel-img-4 {
        width: 95px;
        margin: 13px 5px 0px 0px;
    }

    .carrocel-card-img .carrossel-img-5 {
        width: 115px;
        margin: 10px 0px 0px 0px;
    }
    
    .carrocel-card-informacoes-quantidade {
        font-size: 9px;
        padding: 0px 5px;
        border-radius: 3px;
        
    }
    
    .carrocel-card-informacoes-title {
        margin-top: 2px;
        font-size: 11px;
    }
    
    .carrocel-card-informacoes-preco-antigo {
        font-size: 9px;
        margin-top: 5px;
    }
    
    .carrocel-card-informacoes-preco-atual {
        margin-bottom: 0px;
        font-size: 10px;
    }
    
    .carrocel-card-informacoes-preco-atual span { 
        font-size: 20px;  
    }
    
    .carrocel-card-informacoes-btn {
        font-size: 10px;
        padding: 5px 42px;
    }
    
    
    /*----------------------------------------------------------------------------*/
    /*                                 APLICAÇÕES                                 */
    /*----------------------------------------------------------------------------*/
    

    .aplicacoes-produtos {
        padding: 0px 8px;
    }
    
    .aplicacoes-produtos-title h2{
        font-size: 1rem;
    }
    
    .aplicacoes-produtos-title img {
        width: 10px;
    }
    
    .aplicacoes-produtos-c {
        padding: 10px 0px;
    }
    
    .aplicacoes-produtos-c img {
        width: 40px;
        margin-bottom: 10px;
    }
    
    .aplicacoes-produtos-img h2 {
        font-size: 10px;
        padding: 0px 10px;
    }
    
    .aplicacoes-produtos-linha img {
        width: 10px;
        height: 30px;
    }

    
    /*----------------------------------------------------------------------------*/
    /*                                  PRODUTOS                                  */
    /*----------------------------------------------------------------------------*/
    

    .produtos-c {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 8px;
    }

    .produtos-title {
        margin: 30px 10px;
    }
    
    .produtos-title img {
        width: 45px;
        margin-right: 8px;
    }
    
    .produtos-title h2 {
        font-size: 30px;
        margin-right: 10px;
    }
    
    .produtos-title-seta img {
        width: 18px;
    }
    
    .produtos-card-topo h2{
        font-size: 7px;
    }
    
    .produtos-card-imagens {
        height: 125px;
        margin: 15px 15px 2px 15px;
    }
    
    .produtos-card-informacao {
        padding: 0px 10px;
        width: 100%;
    }
    
    .produtos-card-quantidade  {
        font-size: 9.8px;
    }
    
    .produtos-card-nome {
        font-size: 12px;
    }
    
    .produtos-card-preco-antigo {
        font-size: 11px;
    }
    
    .produtos-card-preco {
        font-size: 22px;
        margin: 0px;
    }
    
    .produtos-card-a-vista {
        font-size: 11px;
    }
    
    .produtos-card-btn {
        font-size: 12px;
    }
    .produtos-card-btn img {
        width: 14px;
        vertical-align: text-top;
    }
    
    
    /*----------------------------------------------------------------------------*/
    /*                                PRÓXIMA PÁGINA                              */
    /*----------------------------------------------------------------------------*/
    

    .produtos-proxima-pagina {
        gap: 5px;
    }
    
    .produtos-proxima-pagina a {
        font-size: .8rem;
        padding: 6px 10px;
        border-radius: 8px;
    }
    
    .produtos-proxima-pagina img {
        width: 15px;
    }


    /*----------------------------------------------------------------------------*/
    /*                                  FOOTER                                    */
    /*----------------------------------------------------------------------------*/
    
    .footer-c {
        gap: 30px;
    }

    .footer-logo img {
        width: 30px;
    }
    
    .footer-informacoes {
        gap: 30px;
    }
    
    .footer-info h2 {
        font-size: 16px;
    }

    .footer-info a {
        font-size: 14px;
    }
    
    .footer-rs {
        width: 120px;
        margin-bottom: 30px;
    }
    
    .footer-contato-btn {
        width: 120px;
        text-align: center;
        font-size: 14px;
        border-radius: 50px;
    }

    .footer-copyright-c img {
        width: 12px;
        height: 12px;
    }
    
    .footer-copyright-c h3 {
        font-size: 12px;
    }












    /* INSPECIONAR PRODUTOS */

.inspecionar-produtos {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    z-index: 999;
}

.inspecionar {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    position: relative;
    max-width: 1000px;
    width: 100%;
    padding: 5px 30px 5px 20px;
    border-radius: 20px;
    hyphens: auto; 
    font-size: 12px; 
}

.inspecionar.active {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.fechar {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.inspecionar-img img {
    width: 150px;
}

.inspecionar-informacoes {
    border-left: none;
    padding: 0px;
    width: 100%;
}

.inspecionar-informacoes-quantidade {
    display: inline;
    background-color: #ffb700;
    color: #000000db;
    padding: 0px 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0px;
    font-family: var(--font-3);
}

.inspecionar-informacoes-nome {
    font-family: var(--font-3);
    font-weight: 500;
    margin-top: 5px;
    font-size: 18px;
    
}

.inspecionar-informacoes-preco-antigo {
    font-size: 13.5px;
    font-weight: 400;
    font-family: var(--font-3);
    color: #222222;
    margin-top: 10px;
}

.inspecionar-informacoes-preco-atual {
    font-size: 40px;
    letter-spacing: -1px;
    color: #ff0000;
    font-weight: 800;
    margin-bottom: 10px;
}

.inspecionar-informacoes-preco-atual-a-vista {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    font-family: var(--font-3);
    color: #222222;
}

.inspecionar-detalhes {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.inspecionar-informacoes-btn {
    background-color: #0294F5;
    color: #ffffff;
    padding: 10px 40px;
    margin-bottom: 50px;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    transition: all .3s ease-in-out;
    font-family: var(--font-3);
}

.inspecionar-informacoes-btn img {
    width: 20px;
    margin-right: 10px;
    vertical-align: sub;
    filter: invert(100%);
}

.inspecionar-detalhes details summary {
    font-family: var(--font-3);
    background-color: rgba(197, 197, 197, 0.514);
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.inspecionar-informacoes-sobre-o-produto {
    margin-top: 40px;
}

.inspecionar-detalhes-informacao {
    color: #000000;
    font-weight: 600;
    font-size: 13px;
}

.inspecionar-detalhes details summary p {
    font-family: var(--font-3);
    color: #585858;
    font-size: 8px;

}
    
}