@media (min-width: 376px) and (max-width: 431px) {


    /*----------------------------------------------------------------------------*/
    /*                                    MENU                                    */
    /*----------------------------------------------------------------------------*/
    

    .menu-c {
        justify-content: flex-end;
        padding: 0px 8px;
    }

    .nav {
        display: none;
    }
    
    .menu-logo {
        position: relative;
        top: 5px;
    }
    
    .menu-logo-img {
        width: 25px;
    }
    
    .menu-logo h2 {
        font-size: 16px;
        position: relative;
        top: -1.5px;
    }
    
    .btn-contato {
        display: none;
    }
    

    /*----------------------------------------------------------------------------*/
    /*                                 MENU MOBILE                                */
    /*----------------------------------------------------------------------------*/

    .hamburger-menu {
        display: block;
    }

    .menu__btn {
        top: 20px;
        left: 10px;
    }

    .menu__box {
        padding: 80px 10px 80px 10px;
        gap: 30px;
    }
    
    .menu__box ul {
        gap: 25px;
    }
    
    .menu__item {
        font-size: 18px;
    }
    
    .menu-bolsa-de-compras {
        width: 25px;
    }
    
    .menu-seta-para-baixo {
        width: 11px;
    }
    
    .menu-simbolo-localizacao {
        width: 25px;
    }
    
    .menu-simbolo-mais {
        width: 25px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .menu-simbolo-presente {
        width: 25px;
    }
    
    .menu-contato-btn {
        align-self: center;
    }
    
    .menu-contato-btn a {
        padding: 8px 40px;
        font-size: 18px;
    }


    /*----------------------------------------------------------------------------*/
    /*                                  INÍCIO                                    */
    /*----------------------------------------------------------------------------*/
    

    .inicio-c {
        padding: 0px 20px;
    }
    
    .inicio-img-mao {
        width: 90px;
    }
    
    .inicio-title {
        font-size: 2.2rem;
    }
    
    .inicio-paragrafo {
        font-size: 12px;
    }
    
    br {
        display: none;
    }
    
    .btn-produtos p {
        font-size: 14px;
    }
    
    .btn-produtos img {
        width: 15px;
    }


    /*----------------------------------------------------------------------------*/
    /*                                  BANNER                                    */
    /*----------------------------------------------------------------------------*/
    


    .banner-c {
        padding: 0px 8px;
        margin: 40px 8px 0px 8px;
    }
    
    .banner-fundo-esquerdo img {
        width: 150px;
    }
    
    .banner-frete-gratis-c {
        text-align: center;
    }
    
    .banner-frete-gratis h3 {
        font-size: 8px;  
    }
    
    .banner-frete-gratis h2 {
        font-size: 19px;
        padding-bottom: 8px;
    }
    
    .banner-frete-gratis p {
        padding: 5px 15px;
        font-size: .6rem;
    }

    
    /*----------------------------------------------------------------------------*/
    /*                                 CARROSSEL                                  */
    /*----------------------------------------------------------------------------*/
    

    .slides {
        padding: 0px 8px;
    }
    
    .slides-c {
        height: 180px;
    }
    
    .seta {
        display: flex;
        padding: 6px;
    }
    
    .seta-anterior {
        left: 10px;
        bottom: 45%;
    }
    
    .seta-proximo {
        right: 10px;
        bottom: 47.4%;
    }
    
    .carrocel-card {
        padding: 0px 30px;
    }
    
    .carrocel-card-img {
        display: flex;
        align-items: flex-end;
    }

    .carrocel-card-img .carrossel-img-1 {
        width: 95px;
        margin: 13px 5px 0px 0px;
    }

    .carrocel-card-img .carrossel-img-2 {
        width: 95px;
        margin: 13px 5px 0px 0px;
    }

    .carrocel-card-img .carrossel-img-3 {
        width: 110px;
        margin: 18px 0px 0px 0px;
    }

    .carrocel-card-img .carrossel-img-4 {
        width: 95px;
        margin: 13px 5px 0px 0px;
    }

    .carrocel-card-img .carrossel-img-5 {
        width: 115px;
        margin: 10px 0px 0px 0px;
    }
    
    .carrocel-card-informacoes-quantidade {
        font-size: 9px;
        padding: 0px 5px;
        border-radius: 3px;
        
    }
    
    .carrocel-card-informacoes-title {
        margin-top: 2px;
        font-size: 11px;
    }
    
    .carrocel-card-informacoes-preco-antigo {
        font-size: 9px;
        margin-top: 5px;
    }
    
    .carrocel-card-informacoes-preco-atual {
        margin-bottom: 0px;
        font-size: 10px;
    }
    
    .carrocel-card-informacoes-preco-atual span { 
        font-size: 20px;  
    }
    
    .carrocel-card-informacoes-btn {
        font-size: 10px;
        padding: 5px 42px;
    }
    
    
    /*----------------------------------------------------------------------------*/
    /*                                 APLICAÇÕES                                 */
    /*----------------------------------------------------------------------------*/
    

    .aplicacoes-produtos {
        padding: 0px 8px;
    }
    
    .aplicacoes-produtos-title h2{
        font-size: 1rem;
    }
    
    .aplicacoes-produtos-title img {
        width: 10px;
    }
    
    .aplicacoes-produtos-c {
        padding: 10px 0px;
    }
    
    .aplicacoes-produtos-c img {
        width: 40px;
        margin-bottom: 10px;
    }
    
    .aplicacoes-produtos-img h2 {
        font-size: 10px;
        padding: 0px 10px;
    }
    
    .aplicacoes-produtos-linha img {
        width: 10px;
        height: 30px;
    }

    /*------------------------------------------------------------------------------*/
/*---------------------------------CARROSSEL 3D-------------------------------- */
/*------------------------------------------------------------------------------*/


.carrossel-ofertas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
    padding: 0px;
}

.carrossel-ofertas-title-c {
    max-width: 1400px;
    width: 100%;
    position: relative;
    top: 30px;
    z-index: 10;
 }
 
 .carrossel-ofertas-title h2{
     font-family: var(--font);
     padding: 20px 0px 10px 8px;
     font-weight: 400;
     font-size: 16px;
 }
 
 .carrossel-ofertas-title img {
     width: 10px;
     margin-left: 5px;
 }

.carrossel-ofertas-c {
    max-width: 1400px;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #F5F5F5;
    overflow: hidden;
}

.oferta {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0px 50px;
    opacity: 0;
    transition: all .10s ease-in-out;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    perspective: 1100px;
    
}

.oferta .img-meio {
    width: 200px;
    height: 200px;
    box-shadow: 0px 10px 30px -10px black;
    cursor: pointer;
    position: relative;
}

.oferta .img-direita-1 {
    width: 170px;
    height: 170px;
    transform-style: preserve-3d;
    transform: rotateY(40deg) translateY(0px);
    position: relative;
    right: 11px;
    box-shadow: -10px 10px 30px -10px #000000; 
}

.oferta .img-direita-2 {
    width: 130px;
    height: 130px;
    transform-style: preserve-3d;
    transform: rotateY(40deg) translateY(0px);
    position: relative;
    right: 80px;
    box-shadow: -20px 20px 30px -10px;
}

.oferta .img-direita-3 {
    width: 90px;
    height: 90px;
    transform-style: preserve-3d;
    transform: rotateY(40deg) translateY(0px);
    position: relative;
    right: 145px;
    box-shadow: -20px 20px 30px -10px;
}

.oferta .img-esquerda-1 {
    width: 170px;
    height: 170px;
    transform-style: preserve-3d;
    transform: rotateY(-40deg) translateY(0px);
    position: relative;
    left: 10px;
    box-shadow: 10px 10px 30px -10px;
}

.oferta .img-esquerda-2 {
    width: 130px;
    height: 130px;
    transform-style: preserve-3d;
    transform: rotateY(-40deg) translateY(0px);
    position: relative;
    left: 80px;
    box-shadow: 20px 20px 30px -10px;
}

.oferta .img-esquerda-3 {
    width: 90px;
    height: 90px;
    transform-style: preserve-3d;
    transform: rotateY(-40deg) translateY(0px);
    position: relative;
    left: 145px;
    box-shadow: 20px 20px 30px -10px;
}

.seta-voltar {
    background-color: #000000;
    width: 25px;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
    left: 0px;
    position: absolute;
    top: 44%;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.seta-voltar img{
    width: 20px;
    left: 0px;
    position: relative;
    top: 32%;
    transform: rotate(180deg);
    z-index: 10;
    filter: invert(100%);
}

.seta-avancar {
    background-color: #000000;
    width: 25px;
    height: 50px;
    border-radius: 50px 0px 0px 50px;
    right: 0px;
    position: absolute;
    top: 44%;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.seta-avancar img {
    width: 20px;
    right: -6px;
    position: relative;
    top: 32%;
    z-index: 10;
    filter: invert(100%);
}

[id^= "oferta"] {
    display: none;
}

.oferta-1 {
    z-index: 2;
    opacity: 1;
    display: flex;
}

*:target ~ .oferta-1 {
    opacity: 0;
}

#oferta-1:target ~ .oferta-1 {
    opacity: 1;
}

#oferta-2:target ~ .oferta-2,
#oferta-3:target ~ .oferta-3,
#oferta-4:target ~ .oferta-4,
#oferta-5:target ~ .oferta-5 {
    z-index: 3;
    opacity: 1;
}

    /*----------------------------------------------------------------------------*/
    /*                                  BENEFÍCIOS                                */
    /*----------------------------------------------------------------------------*/


.beneficios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #f5f5f5;
    padding: 0px 8px;
}

.beneficios-title-c {
    max-width: 1400px;
    width: 100%;
 }
 
 .beneficios-title h2{
     font-family: var(--font);
     padding: 20px 0px 10px 0px;
     font-weight: 400;
     font-size: 16px;
 }
 
 .beneficios-title img {
     width: 10px;
     margin-left: 5px;
 }

.beneficios-c {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 50px;
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
}

.beneficios-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.beneficios-card img {
    width: 65px;
    height: 65px;
    border: 2px solid #0294F5;
    padding: 15px;
    border-radius: 50%;
    background-color: #fff;
}

.beneficios-card h4 {
    font-family: var(--font-3);
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
}


/*------------------------------------------------------------------------------*/
/*---------------------------ABRIR DETALHES SOBRE------------------------------ */
/*------------------------------------------------------------------------------*/


.abrir-detalhes {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0px 8px;
    z-index: 99;
}

.detalhes {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    position: relative;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    hyphens: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: var(--font-3);
    padding: 15px 15px;
    border-left: 5px solid #0294F5;
    gap: 10px;
    cursor: pointer;
}


.detalhes-btn-fechar {
    position: absolute;
    top: 2px;
    right: 2px; 
    width: 25px      
}

.detalhes-img {
    border: 2px solid #0294F5;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    width: 50px;
}

.detalhes p {
    font-size: 12px;
}


    
    /*----------------------------------------------------------------------------*/
    /*                                  PRODUTOS                                  */
    /*----------------------------------------------------------------------------*/
    

    .produtos-c {
        padding: 5px 8px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 8px;
    }

    .produtos-title {
        margin: 30px 10px;
    }
    
    .produtos-title img {
        width: 45px;
        margin-right: 8px;
    }
    
    .produtos-title h2 {
        font-size: 30px;
        margin-right: 10px;
    }
    
    .produtos-title-seta img {
        width: 18px;
    }
    
    .produtos-card-topo h2{
        font-size: 7px;
    }

    .produtos-card-img {
        margin: 5px;
    }
    
    .produtos-card-imagens {
        height: 125px;
        margin: 10px 15px 15px 15px;
    }
    
    .produtos-card-informacao {
        padding: 0px 10px;
        width: 100%;
    }
    
    .produtos-card-quantidade  {
        font-size: 9.8px;
        margin-top: 0px;
        margin-bottom: 8px;
    }
    
    .produtos-card-nome {
        font-size: 12px;
    }
    
    .produtos-card-preco-antigo {
        font-size: 11px;
    }
    
    .produtos-card-preco {
        font-size: 22px;
        margin: 0px;
    }
    
    .produtos-card-a-vista {
        font-size: 11px;
    }
    
    .produtos-card-btn {
        font-size: 12px;
    }
    .produtos-card-btn img {
        width: 14px;
        vertical-align: text-top;
    }
    
    
    /*----------------------------------------------------------------------------*/
    /*                                PRÓXIMA PÁGINA                              */
    /*----------------------------------------------------------------------------*/
    

    .produtos-proxima-pagina {
        gap: 5px;
    }
    
    .produtos-proxima-pagina a {
        font-size: .8rem;
        padding: 6px 10px;
        border-radius: 8px;
    }
    
    .produtos-proxima-pagina img {
        width: 15px;
    }


/*------------------------------------------------------------------------------*/
/*----------------------------INSPECIONAR PRODUTOS----------------------------- */
/*------------------------------------------------------------------------------*/


.inspecionar-produtos {
    padding: 10px 10px;
}
    
.inspecionar.active {
    flex-direction: column;
}

.fechar {
    top: 5px;
    right: 5px;
}

.fechar img {
    width: 30px;
}

.inspecionar-img img {
    width: 180px;
    margin: 0px 0px 5px 0px;
}

.inspecionar-informacoes-c {
    gap: 0px;
    margin: 0px;
    padding: 10px;
}

.inspecionar-informacoes {
    margin-top: 5px;
}

.inspecionar-informacoes-categoria {
    padding: 2px 8px;
    font-size: 10px;
    margin-right: 10px;
}

.inspecionar-informacoes-quantidade {
    padding: 2px 8px;
    font-size: 10px;
}

.inspecionar-dados-nome {
    margin: 5px 0px;
    font-size: 18px;
}

.inspecionar-dados-preco-antigo {
    font-size: 12px;
}

.inspecionar-dados-preco-atual {
    font-size: 35px;
    margin-bottom: 0px;
}

.inspecionar-dados-preco-atual-a-vista {
    font-size: 12px;
    letter-spacing: .4px;
}

.inspecionar-ganhos {
    padding: 0px 15px;
}

.inspecionar-ganhos h3 {
    font-size: 13px;
}

.inspecionar-ganhos h3 img {
    width: 6px;
}

.inspecionar-ganhos-recompencas {
    font-size: 10px;
}

.inspecionar-informacoes-botao {
    margin: 15px 0px; 
}

.inspecionar-informacoes-btn {
    font-size: 12px;
}

.inspecionar-informacoes-botao img {
    width: 14px;
}

.inspecionar-detalhes details summary {
    padding: 5px 15px;
    font-size: 11px;
}

.inspecionar-detalhes details p {
    font-size: 11px;
}


    /*----------------------------------------------------------------------------*/
    /*                                  FOOTER                                    */
    /*----------------------------------------------------------------------------*/
    
    .footer-c {
        gap: 30px;
        flex-direction: column;
    }

    .footer-logo img {
        width: 30px;
    }
    
    .footer-informacoes {
        gap: 30px;
        flex-direction: column;
        text-align: center;
    }
    
    .footer-info h2 {
        font-size: 16px;
    }

    .footer-info a {
        font-size: 14px;
    }

    .footer-redes-sociais {
        margin: 0px;
    }
    
    .footer-rs {
        width: 120px;
        margin-bottom: 30px;
    }
    
    .footer-contato-btn {
        width: 120px;
        text-align: center;
        font-size: 14px;
        border-radius: 50px;
    }

    .footer-copyright-c img {
        width: 12px;
        height: 12px;
    }
    
    .footer-copyright-c h3 {
        font-size: 12px;
    }


/*------------------------------------------------------------------------------*/
/*---------------------------------BOTÃO WHATSAPP------------------------------ */
/*------------------------------------------------------------------------------*/


.botao-contato-whatsapp img {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    z-index: 99;
}

}    