@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --font-site: 'Poppins', sans-serif;
    --font: 'Roboto', sans-serif;
    --font-1: 'Asap', sans-serif;
    --font-2: 'Catamaran', sans-serif;
    --font-3: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-site);
}

/* ESTILOS GERAIS */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* MENU */

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0294F5;
}

.menu-c {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 20px;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo-img {
    width: 50px;
    margin: 5px 5px 0px 0px;
}

.menu-logo h2 {
    font-family: var(--font);
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: .5px;
    cursor: pointer;
}

span {
    color: #F9C442;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
}

.nav li a {
    display: block;
    transition: all .4s ease;
    color:#fff ;
    font-weight: 500;
}

.nav li a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: #F9C442;
    transition: all .4s ease-in-out;
}

.nav li a:hover::after {
    width: 100%;
}

.nav-link {
    margin: 0px 20px;
    font-family: var(--font-site);
}

.btn-contato {
    border: 1.6px solid #F9C442;
    color: #fff;
    margin: 0px;
    padding: 5px 20px;
    border-radius: 50px;
    font-weight: 600;
    transition: all .3s ease;
}

.btn-contato:hover {
    background-color: #F9C442;
    color: #000000;
}

/* INSPECIONAR PRODUTOS */

.inspecionar-produtos {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
}

.inspecionar-produtos-c {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 20px;
    gap: 20px;
}

.inspecionar-produtos-img {
    display: flex;
    justify-content: center;
}

.inspecionar-produtos-img img {
    width: 400px;
}

.inspecionar-produtos-linha  {
    border: 1px solid #ccc;
    height: 100%;
    margin-right: 10px;
}

.inspecionar-produtos-informacoes {

}

.inspecionar-produtos-descricao h2 {
    font-family: var(--font-3);
    font-weight: 600;
    margin-bottom: 30px;
}

.inspecionar-produtos-descricao p {
    font-family: var(--font-3);
}

.inspecionar-produtos-descricao span {
    font-size: 3rem;
    letter-spacing: -1px;
    color: #ff0000;
    font-weight: 800;
}

.inspecionar-produtos-descricao h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.inspecionar-produtos-descricao a {
    background-color: #0294F5;
    color: #ffffff;
    padding: 10px 45px;
    /* border-radius: 10px; */
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all .3s ease-in-out;
    font-family: var(--font-3);
}

.inspecionar-produtos-dados h2 {
    font-family: var(--font-3);
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 500;
}

.inspecionar-produtos-dados p {
    padding: 2px 0px;
}

.inspecionar-produtos-sobre h2 {
    font-family: var(--font-3);
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.inspecionar-produtos-btn-voltar img {
    width: 50px;
    transform: rotate(180deg);
    padding: 10px;
    border-radius: 50px;
}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2a272d;
}

.footer-c {
    max-width: 1440px;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 50px;
    margin-right: 2px;
}

.footer-logo h2 {
    font-family: var(--font);
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: .5px;
}

.footer-informacoes {
    display: flex;
    gap: 40px;
    font-family: var(--font-site);
}

.footer-info h2 {
    color: white;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.footer-info li {
    list-style: none;
}

.footer-info a {
    text-decoration: none;
    color: #878787;
    font-size: .8rem;
}

.footer-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24.16px;
}

.footer-rs {
    display: flex;
    width: 120px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-rs img {
    width: 25px;
    filter: invert(100%);
}

.footer-contato-btn {
    background-color: #0294F5;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.footer-copyright-c {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.footer-copyright-c img {
    width: 15px;
    height: 15px;
    filter: invert(100%);
}

.footer-copyright-c h3 {
    color: #ffffff;
    font-size: .8rem;
    padding-left: 10px;
    font-weight: 400;
}



html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}