@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --font-site: 'Poppins', sans-serif;
    --font: 'Roboto', sans-serif;
    --font-1: 'Asap', sans-serif;
    --font-2: 'Catamaran', sans-serif;
    --font-3: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-site);
}


/*------------------------------------------------------------------------------*/
/*-------------------------------ESTILOS GERAIS-------------------------------- */
/*------------------------------------------------------------------------------*/


a {
    text-decoration: none;
}

li {
    list-style: none;
}


/*------------------------------------------------------------------------------*/
/*--------------------------------------MENU----------------------------------- */
/*------------------------------------------------------------------------------*/


.background-inicio {
    background-image: url(../imagens/inicio/Simple\ Shiny.svg);
    background-position: left center;
    background-size: cover;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-c {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 20px;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo-img {
    width: 50px;
    margin: 5px 5px 0px 0px;
}

.menu-logo h2 {
    font-family: var(--font);
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: .5px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
}

.nav li a {
    display: block;
    transition: all .4s ease;
    color:#fff ;
    font-weight: 500;
}

.nav li a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: #F9C442;
    transition: all .4s ease-in-out;
}

.nav li a:hover::after {
    width: 100%;
}

.nav-link {
    margin: 0px 20px;
    font-family: var(--font-site);
}

.btn-contato {
    border: 1.6px solid #F9C442;
    color: #fff;
    margin: 0px;
    padding: 5px 20px;
    border-radius: 50px;
    font-weight: 600;
    transition: all .3s ease;
}

.btn-contato:hover {
    background-color: #F9C442;
    color: #000000;
}


/*------------------------------------------------------------------------------*/
/*----------------------------------MENU MOBILE-------------------------------- */
/*------------------------------------------------------------------------------*/


.hamburger-menu {
    display: none;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}

.menu__btn {
    position: absolute;
    align-self: flex-start;
    top: 30px;
    left: 25px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2.5px;
    border-radius: 50px;
    background-color: #F9C442;
    transition-duration: .25s;  
}
  
.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    width: 70vw;
    height: 100vh;
    margin: 0;
    padding: 100px 20px 100px 20px;
    list-style: none;
    background-color: #F5F5F5;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 2;
    gap: 30px;
}

.menu__box ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.menu-link-menu {
    display: flex;
    justify-content: space-between;
}

.menu-link-menu:hover {
    background-color: #ccc;
    color: #fff;
    border-radius: 5px;
}

.menu__item {
    display: flex;
    align-items: flex-end;
    color: #585858;
    font-family: var(--font-3);
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s; 
    margin: 5px 0px;
}

.menu-bolsa-de-compras {
    width: 35px;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-seta-para-baixo {
    width: 15px;
    align-self: center;
    margin-right: 20px;
}

.menu-simbolo-localizacao {
    width: 35px;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-simbolo-mais {
    width: 35px;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-simbolo-presente {
    width: 35px;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-contato-btn {
    align-self: center;
}

.menu-contato-btn a {
    background-color: #0294F5;
    padding: 10px 80px;
    border-radius: 50px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 0px 10px;
    font-family: var(--font-3);
    font-size: 25px;
    font-weight: 600;
}


/*------------------------------------------------------------------------------*/
/*------------------------------------INÍCIO----------------------------------- */
/*------------------------------------------------------------------------------*/


.inicio {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inicio-c {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px 0px 20px;
}

.c-esquerdo-inicio {
    display: flex;
    align-items: center;
}

.inicio-img-mao {
    width: 200px;
    margin-right: 10px;
}

.inicio-text {
    display: flex;
    flex-direction: column;
}

.inicio-title {
    font-family: var(--font);
    font-size: 5.5rem;
    color: #ffffff;
}


span {
    color: #F9C442;
}

.inicio-paragrafo {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
    padding-left: 2px;
    font-family: var(--font-1);
}

.btn-produtos {
    padding: 5px 20px;
    border-radius: 50px;
    border: 1.6px solid #F9C442;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .3s ease;
}

.btn-produtos:hover {
    background-color: #F9C442;
}

.btn-produtos p {
    color: #fff ;
    font-family: var(--font-2);
    font-size: 18px;
    font-weight: 600;
    transition: all .3s ease;
}

.btn-produtos:hover p {
    color: #000000;
}

.btn-produtos img {
    filter: invert(100%);
    width: 20px;
    transition: all .3s ease;
    z-index: 1;
}

.btn-produtos:hover img  {
    filter: invert(0%);
}

.inicio-img img {
    width: 420px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/*------------------------------------------------------------------------------*/
/*------------------------------------BANNER----------------------------------- */
/*------------------------------------------------------------------------------*/


.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    /* margin-bottom: 30px; */
}

.banner-c {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 20px 0px 20px;
    border-radius: 5px;
    padding: 0px 20px;
    background: rgb(249,196,66);
    background: linear-gradient(90deg, rgba(249,196,66,1) 56%, rgba(0,0,0,1) 56%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.banner-fundo-esquerdo {
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner-fundo-esquerdo img {
    width: 300px;
}

.banner-frete-gratis-c {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-frete-gratis h3 {
    color: #fff;
    font-family: var(--font-1);
    font-weight: 300;
    font-size: 1.2rem;  
}

.banner-frete-gratis h2 {
    font-family: var(--font-1);
    text-transform: uppercase;
    padding: 5px 0px 15px 0px;
    color: #fff;
    font-size: 3rem;
}

.banner-frete-gratis p {
    color: #fff;
    font-family: var(--font-1);
    font-weight: 300;
    border: 1.6px solid #F9C442;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline;
}

/*------------------------------------------------------------------------------*/
/*---------------------------------CARROSSEL 3D-------------------------------- */
/*------------------------------------------------------------------------------*/


.carrossel-ofertas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
    padding: 0px 20px;
}

.carrossel-ofertas-title-c {
    max-width: 1400px;
    width: 100%;
    position: relative;
    top: 10px;
    z-index: 10;
 }
 
 .carrossel-ofertas-title h2{
     font-family: var(--font);
     padding: 20px 0px 10px 0px;
     font-weight: 400;
     font-size: 24px;
 }
 
 .carrossel-ofertas-title img {
     width: 15px;
     margin-left: 5px;
 }


.carrossel-ofertas-c {
    max-width: 1400px;
    width: 100%;
    max-height: 400px;
    height: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #f5f5f5;
    overflow: hidden;
}

.oferta {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0px 50px;
    opacity: 0;
    transition: all .10s ease-in-out;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    perspective: 2000px;
}

.oferta .img-meio {
    width: 300px;
    height: 300px;
    box-shadow: 0px 20px 30px -10px;
    cursor: pointer; 
}

.oferta .img-direita-1 {
    width: 280px;
    height: 280px;
    transform-style: preserve-3d;
    transform: rotateY(40deg) translateY(0px);
    position: relative;
    right: 16px;
    box-shadow: -20px 20px 30px -10px;   
}

.oferta .img-direita-2 {
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    transform: rotateY(40deg) translateY(0px);
    position: relative;
    right: 80px;
    box-shadow: -20px 20px 30px -10px;
}

.img-direita-3 {
    width: 220px;
    height: 220px;
    transform-style: preserve-3d;
    transform: rotateY(40deg) translateY(0px);
    position: relative;
    right: 145px;
    box-shadow: -20px 20px 30px -10px;
}

.oferta .img-esquerda-1 {
    width: 280px;
    height: 280px;
    transform-style: preserve-3d;
    transform: rotateY(-40deg) translateY(0px);
    position: relative;
    left: 15px;
    box-shadow: 20px 20px 30px -10px;
}

.oferta .img-esquerda-2 {
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    transform: rotateY(-40deg) translateY(0px);
    position: relative;
    left: 80px;
    box-shadow: 20px 20px 30px -10px;
}

.img-esquerda-3 {
    width: 220px;
    height: 220px;
    transform-style: preserve-3d;
    transform: rotateY(-40deg) translateY(0px);
    position: relative;
    left: 145px;
    box-shadow: 20px 20px 30px -10px;
}

.seta-voltar {
    background-color: #000000;
    width: 30px;
    height: 60px;
    border-radius: 0px 50px 50px 0px;
    left: 0px;
    position: absolute;
    top: 47%;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.seta-voltar img{
    width: 20px;
    left: 1px;
    position: relative;
    top: 35%;
    transform: rotate(180deg);
    z-index: 10;
    filter: invert(100%);
}

.seta-avancar {
    background-color: #000000;
    width: 30px;
    height: 60px;
    border-radius: 50px 0px 0px 50px;
    right: 0px;
    position: absolute;
    top: 47%;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.seta-avancar img {
    width: 20px;
    right: -10px;
    position: relative;
    top: 35%;
    z-index: 10;
    filter: invert(100%);
}

[id^= "oferta"] {
    display: none;
}

.oferta-1 {
    z-index: 2;
    opacity: 1;
    display: flex;
}

*:target ~ .oferta-1 {
    opacity: 0;
}

#oferta-1:target ~ .oferta-1 {
    opacity: 1;
}

#oferta-2:target ~ .oferta-2,
#oferta-3:target ~ .oferta-3,
#oferta-4:target ~ .oferta-4,
#oferta-5:target ~ .oferta-5 {
    z-index: 3;
    opacity: 1;
}


/*------------------------------------------------------------------------------*/
/*-----------------------------------BENEFÍCIOS-------------------------------- */
/*------------------------------------------------------------------------------*/


/* .beneficios {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f5f5f5;
    padding: 0px 20px;
    
}

.beneficios-c {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 20px 5px 5px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 50px;
    gap: 20px;
    border-left: 5px solid #F9C442;
}

.beneficios-entrega {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    gap: 15px;
}

.beneficios-entrega img {
    margin-left: 20px;
}

.beneficios-entrega p {
    font-family: var(--font-3);
}

.beneficios-pagamento {
    display: flex;
    align-items: center;
    gap: 15px;
}

.beneficios-pagamento p {
    font-family: var(--font-3);
}

.beneficios-frete {
    display: flex;
    align-items: center;
    gap: 15px;
}

.beneficios-frete p {
    font-family: var(--font-3);
}

.beneficios-linha {
    display: flex;
    align-items: center;
}

.beneficios-linha img {
    filter: invert(70%);
    height: 40px;
} */

.beneficios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px 20px;
}


.beneficios-c {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    gap: 10px;
    border-radius: 5px;
    border-top: 20px solid #0294F5;
    box-shadow: 0px 0px 0px 1px #ccc; 
    margin-top: 50px;
}


.beneficios-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 20px;
    max-width: 250px;
    border-radius: 5px;
    border-left: 5px solid #0294F5;
    box-shadow: 0px 0px 0px 1px #e6e6e6; 
}

.beneficios-card h4 {
    font-family: var(--font-3);
    margin-top: 10px;
    text-align: center;
}


/*------------------------------------------------------------------------------*/
/*------------------------------------CARROSSEL-------------------------------- */
/*------------------------------------------------------------------------------*/


.slides {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    padding: 0px 20px;
}

.slides-c {
    max-width: 1400px;
    width: 100%;
    height: 300px;
    /* background-color: #fff; */
    background-image: url(../imagens/wave\ \(1\).svg);
    background-size: cover;
    background-position: center bottom;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.slides-item {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 0px;
    opacity: 0;
    transition: all .10s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0px 0px; 
    display: flex;
}

.seta {
    border: solid black;
    border-width: 0px 3px 3px 0px;
    display: inline-block;
    padding: 12px;
}

.seta-anterior {
    left: 30px;
    position: absolute;
    bottom: 40%;
    transform: translateY(-50%) rotate(135deg);
}

.carrocel-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 60px;
}

.carrocel-card-img img {
    width: 200px;
    margin-right: 50px;
}

.carrocel-card-informacoes-quantidade {
    display: inline;
    background-color: #ffb700;
    color: #000000db;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: .8rem;
    font-weight: 600;
    font-family: var(--font-3);
    padding: 0px 5px;
    border-radius: 3px;
    font-size: .8rem;
}

.carrocel-card-informacoes-title {
    font-family: var(--font-3);
    font-weight:500;
    color: #222222;
    margin-top: 15px;
    width: 100%;
    hyphens: auto;  
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.carrocel-card-informacoes-preco-antigo {
    font-family: var(--font-3);
    font-size: .9rem;
    margin-top: 15px;
    color: #626262;
}

.carrocel-card-informacoes-preco-atual {
    font-family: var(--font-3);
    margin-bottom: 20px;
}

.carrocel-card-informacoes-preco-atual span {
    font-family: var(--font-site);
    font-size: 2rem;
    font-weight: bold;
    color: #ff0000;
    font-weight: 800;
}

.carrocel-card-informacoes-btn {
    text-decoration: none;
    font-family: var(--font-3);
    background-color: #0294F5;
    color: #fff;
    padding: 8px 30px;
    font-weight: 600;
    border-radius: 5px;
}

.seta-proximo {
    right: 30px;
    position: absolute;
    bottom: 45%;
    transform: translate(-50%) rotate(-45deg);
}

[id^= "item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
}

.item-2 {
    background: url(imagens/download.jfif);
    background-size: cover;
}

.item-3 {
    background: url(imagens/Receita-de-Sobremesa-de-Preguicoso.jpg);
    background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3,
#item-4:target ~ .item-4,
#item-5:target ~ .item-5 {
    z-index: 3;
    opacity: 1;
}


/*------------------------------------------------------------------------------*/
/*-----------------------------------APLICAÇÕES-------------------------------- */
/*------------------------------------------------------------------------------*/


.aplicacoes-produtos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 50px 20px;
    background-color: #F5F5F5;
}

.aplicacoes-produtos-title-c {
   max-width: 1400px;
   width: 100%;
}

.aplicacoes-produtos-title h2{
    font-family: var(--font);
    padding: 50px 0px 20px 0px;
    font-weight: 400;
    font-size: 1.5rem;
}

.aplicacoes-produtos-title img {
    width: 15px;
    margin-left: 5px;
}

.aplicacoes-produtos-c {
    max-width: 1400px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.aplicacoes-produtos-c img {
    width: 70px;
    margin-bottom: 15px;
}

.aplicacoes-produtos-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.aplicacoes-produtos-img h2 {
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 50px;
    text-align: center;
}

.aplicacoes-produtos-linha img {
    width: 20px;
    height: 50px;
    margin: 0px;
}


/*------------------------------------------------------------------------------*/
/*-----------------------------------PRODUTOS---------------------------------- */
/*------------------------------------------------------------------------------*/


.produtos-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

.produtos-title-compras {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    padding: 0px 20px;
}

.produtos-title-espaco {
    /* width: 400px; */
}

.produtos-title {
    max-width: 1440px;
    width: 1000%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1.6px solid #F9C442; */
    /* background-color: #000000; */
    padding: 5px 30px;
    border-radius: 50px;
    margin: 50px;
}

.produtos-title img {
    width: 60px;
    margin-right: 20px;
    filter: invert(60%);
}

.produtos-title h2 {
    font-family: var(--font-1);
    font-size: 3rem;
    color: #a4a4a4;
    text-align: center;
    font-weight: 500;
    margin-right: 15px;
}

.produtos-title-seta img {
    width: 25px;
    vertical-align: middle;
}

.produtos-title-img img {
    width: 400px;
    margin-top: 10px;
    display: none;
}

.produtos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.produtos-c {
    max-width: 1440px;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; */
    padding: 5px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
    gap: 20px;
    position: relative;
}

.produtos-card {
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    margin-bottom: 30px;
    transition: all .2s;
    text-align: center;
    overflow: hidden;
}

.produtos-card:hover{
    border: 1px solid #0294F5;
    cursor: pointer;
}

.produtos-card-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.produtos-card-topo img {
    width: 20px;
    margin: 10px 0px 0px 10px; 
}

.produtos-card-topo h2{
    font-size: 10px;
    padding: 3px 5px;
    font-weight: 500;
    margin: 10px 10px 0px 0px;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-family: var(--font-3);
    color: #fff;
    background-color: #0294F5;
}

.produtos-card-img {
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
    margin: 10px;
}

.produtos-estrela {
    width: 30px;
    padding: 5px 0px 0px 5px;
}

.produtos-card-imagens {
    height: 190px;
}

.produtos-img-frete-gratis {
    width: 25px;
    padding: 5px 5px 0px 0px;
}

.produtos-card-informacao {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
    width: 100%;
}

.produtos-card-quantidade  {
    align-self: start;
    /* background-color: #00A000; */
    background-color: #ffb700;
    color: #000000db;
    padding: 0px 5px;
    border-radius: 3px;
    font-size: .8rem;
    /* text-transform: uppercase; */
    font-weight: 600;
    margin: 10px 0px;
    font-family: var(--font-3);
}

.produtos-card-nome {
    font-size: 14px;
    padding: 0px;
    font-weight: 400;
    align-self: start;
    text-align: left;
    font-family: var(--font-3);
    color: #222222;
    width: 100%;
    hyphens: auto;  
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.produtos-card-preco-antigo {
    font-size: 13.5px;
    font-weight: 400;
    font-family: var(--font-3);
    color: #222222;
    margin-top: 10px;
}

.produtos-card-preco {
    font-size: 2.2rem;
    letter-spacing: -1px;
    color: #ff0000;
    font-weight: 800;
    margin-bottom: 5px;
}

.produtos-card-cifrao {
    font-size: 1rem;
    vertical-align: super;
    color: #000000;
}

.produtos-card-a-vista {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    font-family: var(--font-3);
    color: #222222;
}

.produtos-card-btn {
    background-color: #0294F5;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 0px 0px 5px 5px;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    transition: all .3s ease-in-out;
    font-family: var(--font-3);
}

.produtos-card-btn:hover {
    background-color: #1f6aff;
}

.produtos-card-btn img {
    width: 18px;
    vertical-align: sub;
    margin-right: 10px;
    filter: invert(100%);
}


/*------------------------------------------------------------------------------*/
/*-------------------------------PRÓXIMA PÁGINA-------------------------------- */
/*------------------------------------------------------------------------------*/


.produtos-proxima-pagina {
    text-align: center;
    margin: 20px 0px 40px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.produtos-proxima-pagina a {
    font-size: 1rem;
    padding: 10px 15px;
    border: 1px solid #0294F5;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: all .3s ease;
}

.produtos-proxima-pagina a:hover {
    background-color: #0294F5;
    color: #ffffff;
}

.produtos-proxima-pagina img {
    width: 20px;
    vertical-align: sub;
}

.img-anterior {
    transform: rotate(180deg);
}

.produtos-pagina {
    background-color: #0294F5;
    color: #ffffff;
}


/*------------------------------------------------------------------------------*/
/*----------------------------INSPECIONAR PRODUTOS----------------------------- */
/*------------------------------------------------------------------------------*/


.inspecionar-produtos {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    z-index: 999;
}

.inspecionar {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 5px;
    hyphens: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: var(--font-3);
}

.inspecionar.active {
    display: inline-flex;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #000;
    border: none;
    cursor: pointer;
}

.inspecionar-img {
    /* border-radius: 0px 1000px 1000px 0px; */
}

.inspecionar-img img {
    width: 400px;
    margin: 20px 0px 20px 0px;
}

.inspecionar-informacoes-c {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 20px 20px 20px 0px;
    max-width: 537px;
    width: 100%;
}

.inspecionar-informacoes {
    display: flex;
}

.inspecionar-informacoes-categoria {
    background-color: #0294F5;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    font-weight: 400px;
    font-size: 12px;
    margin-right: 20px;
}

.inspecionar-informacoes-quantidade {
    background-color: #F9C442;
    color: #000000;
    font-weight: 600;
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 12px;
}

.inspecionar-dados-nome {
    margin: 5px 0px 20px 0px;
    font-size: 25px;
    hyphens: auto;
}

.inspecionar-dados-preco-antigo {
    font-size: 16px;
}

.inspecionar-dados-preco-atual {
    color: #ff0000;
    letter-spacing: -1px;
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: 800;
    font-family: var(--font-site);
}

.inspecionar-dados-preco-atual-a-vista {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-3);
}

.inspecionar-ganhos {
    padding: 0px 20px;
    border-left: 3px solid #0294F5;
}

.inspecionar-ganhos h3 {
    margin-bottom: 5px;
}

.inspecionar-ganhos h3 img {
    width: 10px;
    margin-left: 5px;
    vertical-align: middle;
}

.inspecionar-ganhos-recompencas {
    font-size: 14px;
}

.inspecionar-informacoes-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0294F5;
    border-radius: 50px;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    margin: 20px 0px; 
    gap: 10px;
}

.inspecionar-informacoes-btn {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.inspecionar-informacoes-botao img {
    width: 20px;
    filter: invert(100%);
}

.inspecionar-detalhes details {
    padding-right: 0px;
}

.inspecionar-detalhes details summary {
    list-style: none;
    border-left: 3px solid #0294F5;
    padding: 5px 20px;
    position: relative;
    background-color: #e1e1e1;
    border-radius: 2px;
    margin-bottom: 10px;
}

.inspecionar-detalhes details summary::after {
    content: "+";
    position: absolute;
    right: 15px;
}


/*------------------------------------------------------------------------------*/
/*-----------------------------------FOOTER------------------------------------ */
/*------------------------------------------------------------------------------*/


.footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2a272d;
    margin-top: 40px;
}

.footer-c {
    max-width: 1440px;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 50px;
    margin-right: 2px;
}

.footer-logo h2 {
    font-family: var(--font);
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: .5px;
}

.footer-informacoes {
    display: flex;
    gap: 40px;
    font-family: var(--font-site);
}

.footer-info h2 {
    color: white;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.footer-info li {
    list-style: none;
}

.footer-info a {
    text-decoration: none;
    color: #878787;
    font-size: .8rem;
}

.footer-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24.16px;
}

.footer-rs {
    display: flex;
    width: 120px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-rs img {
    width: 25px;
    filter: invert(100%);
}

.footer-contato-btn {
    background-color: #0294F5;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.footer-copyright-c {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.footer-copyright-c img {
    width: 15px;
    height: 15px;
    filter: invert(100%);
}

.footer-copyright-c h3 {
    color: #ffffff;
    font-size: .8rem;
    padding-left: 10px;
    font-weight: 400;
}


/*------------------------------------------------------------------------------*/
/*-------------------------------PÁGINA DE CONTATO----------------------------- */
/*------------------------------------------------------------------------------*/

.menu-contato {
    background-color: #0294F5;
}

.contato {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
}

.contato-c {
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
}

.contato-formulario {
    display: flex;
    flex-direction: column;
    background-color: #0294F5;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.contato-formulario-title {
    font-family: var(--font-3);
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.contato-formulario-label {
    font-family: var(--font-3);
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.contato-formulario-input {
    font-family: var(--font-3);
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contato-formulario-textarea {
    font-family: var(--font-3);
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.contato-formulario-btn {
    font-family: var(--font-3);
    font-size: 1.2rem;
    font-weight: 600;
    color: #585858;
    border-radius: 10px;
    border: none;
    padding: 8px;
    background-color: #F9C442;
}




@media (min-width: 1025px) and (max-width: 1199px) {

/* INÍCIO */

    .inicio-img img {
        width: 320px;
        height: 380px;
    }
}

@media (min-width: 1025px) and (max-width: 1080px) {

/* INÍCIO */

    .inicio-img-mao {
        width: 160PX;
    }

    .inicio-title {
        font-size: 4.5rem;
    }

    .inicio-paragrafo {
        font-size: 20px;
        margin-bottom: 20px;
    }

}

@media (max-width: 1024px) {

/* início */

    .inicio-img img {
        display: none;
    }

    .inicio-c {
        justify-content: flex-start;
    }
}

@media (min-width: 801px) and (max-width: 1024px) {

/* MENU */

    .menu-logo-img {
        width: 40px;
        margin: 5px 5px 0px 0px;
    }

    .menu-logo h2 {
        font-size: 1rem;
    }

    .nav li a {
        font-size: .9rem;
    }

    .btn-contato {
        font-size: .9rem;
    }

/* BANNER */

    .banner-fundo-esquerdo img {
        width: 300px;
    }


    .banner-frete-gratis h3 {
        font-size: 1rem;  
    }

    .banner-frete-gratis h2 {
        font-size: 2.5rem;
    }

    .banner-frete-gratis p {
        padding: 8px 20px;
        font-size: .9rem;
    }

}

@media (max-width: 900px) {


/* CARROSSEL */

    .carrocel-card-img img {
        width: 180px;
        margin-right: 50px;
    }
    
    .carrocel-card-informacoes-quantidade {
        font-size: .7rem;
    }
    
    .carrocel-card-informacoes-title {
        font-size: 1.2rem;
        margin-top: 10px;
    }
    
    .carrocel-card-informacoes-preco-antigo {
        font-size: .8rem;
    }
    
    .carrocel-card-informacoes-preco-atual {
        margin-bottom: 15px;
        font-size: .8rem;
    }
    
    .carrocel-card-informacoes-preco-atual span {
        font-family: var(--font-site);
        font-size: 2rem;
        font-weight: bold;
        color: #ff0000;
        font-weight: 800;
    }
    
    .carrocel-card-informacoes-btn {
        font-size: .9rem;
    }
}

