@charset "UTF-8";

@media (min-width: 1025px) and (max-width: 1199px) {

/* INÍCIO */

    .inicio-img img {
        width: 320px;
    }
}

@media (min-width: 1025px) and (max-width: 1080px) {

/* INÍCIO */

    .inicio-img-mao {
        width: 160PX;
    }

    .inicio-title {
        font-size: 4.5rem;
    }

    .inicio-paragrafo {
        font-size: 20px;
        margin-bottom: 20px;
    }

}

@media (max-width: 1024px) {

/* início */

    .inicio-img img {
        display: none;
    }

    .inicio-c {
        justify-content: flex-start;
    }
}

@media (min-width: 801px) and (max-width: 1024px) {

/* MENU */

    .menu-logo-img {
        width: 40px;
        margin: 5px 5px 0px 0px;
    }

    .menu-logo h2 {
        font-size: 1rem;
    }

    .nav li a {
        font-size: .9rem;
    }

    .btn-contato {
        font-size: .9rem;
    }

/* BANNER */

    .banner-fundo-esquerdo img {
        width: 300px;
    }


    .banner-frete-gratis h3 {
        font-size: 1rem;  
    }

    .banner-frete-gratis h2 {
        font-size: 2.5rem;
    }

    .banner-frete-gratis p {
        padding: 8px 20px;
        font-size: .9rem;
    }

}

@media (max-width: 900px) {


/* CARROSSEL */

    .carrocel-card-img img {
        width: 180px;
        margin-right: 50px;
    }
    
    .carrocel-card-informacoes-quantidade {
        font-size: .7rem;
    }
    
    .carrocel-card-informacoes-title {
        font-size: 1.2rem;
        margin-top: 10px;
    }
    
    .carrocel-card-informacoes-preco-antigo {
        font-size: .8rem;
    }
    
    .carrocel-card-informacoes-preco-atual {
        margin-bottom: 15px;
        font-size: .8rem;
    }
    
    .carrocel-card-informacoes-preco-atual span {
        font-family: var(--font-site);
        font-size: 2rem;
        font-weight: bold;
        color: #ff0000;
        font-weight: 800;
    }
    
    .carrocel-card-informacoes-btn {
        font-size: .9rem;
    }
}

@media (max-width: 800px) {

/* MENU */

    .menu-c {
        justify-content: center;
    }

    .nav {
        display: none;
    }

    .menu-logo {
        display: flex;
        position: relative;
        top: 5px;
    }
    
    .menu-logo-img {
        width: 35px;
    }

    .btn-contato {
        /* display: none; */
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: .9rem;
    }

/* MENU MOBILE */

    .hamburger-menu {
        display: block;
    }

/* BANNER */

    .banner-fundo-esquerdo img {
        width: 260px;
    }


    .banner-frete-gratis h3 {
        font-size: .9rem;  
    }

    .banner-frete-gratis h2 {
        font-size: 2.3rem;
    }

    .banner-frete-gratis p {
        padding: 6px 20px;
        font-size: .9rem;
    }

}

@media (max-width: 730px) {

/* INÍCIO */

    .inicio-img-mao {
        width: 160PX;
    }

    .inicio-title {
        font-size: 4.6rem;
    }

    .inicio-paragrafo {
        font-size: 23px;
    }

    .btn-produtos {

    }

}

@media (max-width: 730px) {

/* INÍCIO */

.inicio-img-mao {
    width: 160PX;
}

.inicio-title {
    font-size: 4.6rem;
}

.inicio-paragrafo {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-produtos p{
    font-size: .95rem;
}

/* BANNER */

.banner-fundo-esquerdo img {
    width: 240px;
}

.banner-frete-gratis h3 {
    font-size: .8rem;  
}

.banner-frete-gratis h2 {
    font-size: 2rem;
    padding-bottom: 10px;
}

.banner-frete-gratis p {
    padding: 5px 20px;
    font-size: .85rem;
}


}


@media (max-width: 760px) {

/* FOOTER */

    .footer-c {
        justify-content: center;
        flex-direction: column;
        
        gap: 50px;
    }

    .footer-informacoes {
        gap: 80px;
    }

    .footer-redes-sociais {
        margin: 0px;
    }

    .footer-rs {
        margin-top: 10px;
    }

    

}



@media (max-width: 360px) {

    /* MENU */
    
    .menu-c {
        justify-content: flex-end;
        padding: 0px 8px;
    }
    
    .menu-logo {
        position: relative;
        top: 4px;
    }
    
    .menu-logo-img {
        width: 25px;
    }
    
    .menu-logo h2 {
        font-size: 16px;
        position: relative;
        top: -1.5px;
    }
    
    .btn-contato {
        display: none;
    }
    
    /* MENU MOBILE */
    
    .menu__btn {
        top: 20px;
        left: 10px;
    }
    
    /* INÍCIO */
    
    .inicio-c {
        padding: 0px 20px;
    }
    
    .inicio-img-mao {
        width: 90px;
    }
    
    .inicio-title {
        font-size: 2.2rem;
    }
    
    .inicio-paragrafo {
        font-size: 12px;
    }
    
    br {
        display: none;
    }
    
    .btn-produtos p {
        font-size: 14px;
    }
    
    .btn-produtos img {
        width: 15px;
    }
    
    /* BANNER */
    
    .banner-c {
        padding: 0px 8px;
        margin: 40px 8px 0px 8px;
    }
    
    .banner-fundo-esquerdo img {
        width: 150px;
    }
    
    .banner-frete-gratis-c {
        text-align: center;
    }
    
    .banner-frete-gratis h3 {
        font-size: .4rem;  
    }
    
    .banner-frete-gratis h2 {
        font-size: .99rem;
        padding-bottom: 5px;
    }
    
    .banner-frete-gratis p {
        padding: 5px 15px;
        font-size: .6rem;
    }
    
    /* CARROSSEL */
    
    .slides {
        padding: 0px 8px;
    }
    
    .slides-c {
        height: 180px;
        background-image: url();
    }
    
    .seta {
        display: flex;
        padding: 6px;
    }
    
    .seta-anterior {
        left: 10px;
        bottom: 45%;
    }
    
    .seta-proximo {
        right: 10px;
        bottom: 47.4%;
    }
    
    
    .carrocel-card {
        padding: 0px 30px;
    }
    
    .carrocel-card-img img {
        width: 100px;
        margin-right: 0px;
    }
    
    .carrocel-card-informacoes-quantidade {
        padding: 2px 10px;
        font-size: 10px;
    }
    
    .carrocel-card-informacoes-title {
        margin-top: 5px;
        font-size: 11px;
    }
    
    .carrocel-card-informacoes-preco-antigo {
        font-size: 9px;
        margin-top: 5px;
    }
    
    .carrocel-card-informacoes-preco-atual {
        margin-bottom: 5px;
        font-size: 10px;
    }
    
    .carrocel-card-informacoes-preco-atual span { 
        font-size: 20px;  
    }
    
    .carrocel-card-informacoes-btn {
        font-size: 10px;
    }
    
    
    /* APLICAÇÕES */
    
    .aplicacoes-produtos-title h2{
        font-size: 1rem;
        padding: 40px 0px 20px 0px;
    }
    
    .aplicacoes-produtos-title img {
        width: 10px;
    }
    
    .aplicacoes-produtos-c {
        padding: 10px 0px;
    }
    
    .aplicacoes-produtos-c img {
        width: 40px;
        margin-bottom: 10px;
    }
    
    .aplicacoes-produtos-img h2 {
        font-size: 10px;
        padding: 0px 10px;
    }
    
    .aplicacoes-produtos-linha img {
        width: 10px;
        height: 30px;
    }
    
    
    /* PRODUTOS */

    .produtos-title-compras {
        justify-content: center;
    }

    .produtos-title h2 {
        
    }
    
    .aplicacoes-produtos {
        padding: 0px 8px;
    }
    
    .produtos-c {
        padding: 5px 8px;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 8px;
    }
    
    .produtos-card {
        height: 380px;
    }
    
    .produtos-card-topo h2{
        font-size: 7px;
    }
    
    .produtos-card-imagens {
        height: 125px;
        margin: 15px 15px 2px 15px;
    }
    
    .produtos-card-informacao {
        padding: 0px 10px;
        width: 100%;
    }
    
    .produtos-card-quantidade  {
        font-size: 9.8px;
    }
    
    .produtos-card-nome {
        font-size: 12px;
    }
    
    .produtos-card-preco-antigo {
        font-size: 11px;
    }
    
    .produtos-card-preco {
        font-size: 22px;
    }
    
    .produtos-card-a-vista {
        font-size: 11px;
    }
    
    .produtos-card-btn {
        font-size: 12px;
    }
    .produtos-card-btn img {
        width: 15px;
        vertical-align: text-bottom;
    }
    
    
    /* PRÓXIMA PÁGINA */
    
    .produtos-proxima-pagina {
        gap: 5px;
    }
    
    .produtos-proxima-pagina a {
        font-size: .8rem;
        padding: 6px 10px;
        border-radius: 8px;
    }
    
    .produtos-proxima-pagina img {
        width: 15px;
    }
    
    /* FOOTER */
    
    .footer-informacoes {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }
    
    .footer-info h2 {
        font-size: 1.4rem;
    }
    
    .footer-info a {
        font-size: .9rem;
    }
    
    .footer-rs {
        width: 150px;
        margin-bottom: 30px;
    }
    
    .footer-contato-btn {
        width: 150px;
        text-align: center;
    }
    
    }



@media (max-width: 320px) {

/* MENU */

.menu-c {
    justify-content: flex-end;
    padding: 0px 8px;
}

.menu-logo {
    position: relative;
    top: 4px;
}

.menu-logo-img {
    width: 25px;
}

.menu-logo h2 {
    font-size: 16px;
    position: relative;
    top: -1.5px;
}

.btn-contato {
    display: none;
}

/* MENU MOBILE */

.menu__btn {
    top: 20px;
    left: 10px;
}

/* INÍCIO */

.inicio-c {
    padding: 0px 20px;
}

.inicio-img-mao {
    width: 90px;
}

.inicio-title {
    font-size: 2.2rem;
}

.inicio-paragrafo {
    font-size: 12px;
}

br {
    display: none;
}

.btn-produtos p {
    font-size: 14px;
}

.btn-produtos img {
    width: 15px;
}

/* BANNER */

.banner-c {
    padding: 0px 8px;
    margin: 40px 8px 0px 8px;
}

.banner-fundo-esquerdo img {
    width: 150px;
}

.banner-frete-gratis-c {
    text-align: center;
}

.banner-frete-gratis h3 {
    font-size: .4rem;  
}

.banner-frete-gratis h2 {
    font-size: .99rem;
    padding-bottom: 5px;
}

.banner-frete-gratis p {
    padding: 5px 15px;
    font-size: .6rem;
}

/* CARROSSEL */

.slides {
    padding: 0px 8px;
}

.slides-c {
    height: 180px;
    background-image: url();
}

.seta {
    display: flex;
    padding: 6px;
}

.seta-anterior {
    left: 10px;
    bottom: 45%;
}

.seta-proximo {
    right: 10px;
    bottom: 47.4%;
}


.carrocel-card {
    padding: 0px 30px;
}

.carrocel-card-img img {
    width: 100px;
    margin-right: 0px;
}

.carrocel-card-informacoes-quantidade {
    padding: 2px 10px;
    font-size: 10px;
}

.carrocel-card-informacoes-title {
    margin-top: 5px;
    font-size: 11px;
}

.carrocel-card-informacoes-preco-antigo {
    font-size: 9px;
    margin-top: 5px;
}

.carrocel-card-informacoes-preco-atual {
    margin-bottom: 5px;
    font-size: 10px;
}

.carrocel-card-informacoes-preco-atual span { 
    font-size: 20px;  
}

.carrocel-card-informacoes-btn {
    font-size: 10px;
}


/* APLICAÇÕES */

.aplicacoes-produtos {
    padding: 0px 8px;
}

.aplicacoes-produtos-title h2{
    font-size: 1rem;
}

.aplicacoes-produtos-title img {
    width: 10px;
}

.aplicacoes-produtos-c {
    padding: 10px 0px;
}

.aplicacoes-produtos-c img {
    width: 40px;
    margin-bottom: 10px;
}

.aplicacoes-produtos-img h2 {
    font-size: 10px;
    padding: 0px 10px;
}

.aplicacoes-produtos-linha img {
    width: 10px;
    height: 30px;
}


/* PRODUTOS */

.produtos-c {
    padding: 5px 8px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 8px;
}

.produtos-card {
    height: 380px;
}

.produtos-card-topo h2{
    font-size: 7px;
}

.produtos-card-imagens {
    height: 125px;
    margin: 15px 15px 2px 15px;
}

.produtos-card-informacao {
    padding: 0px 10px;
    width: 100%;
}

.produtos-card-quantidade  {
    font-size: 9.8px;
}

.produtos-card-nome {
    font-size: 12px;
}

.produtos-card-preco-antigo {
    font-size: 11px;
}

.produtos-card-preco {
    font-size: 22px;
}

.produtos-card-a-vista {
    font-size: 11px;
}

.produtos-card-btn {
    font-size: 12px;
}
.produtos-card-btn img {
    width: 15px;
    vertical-align: text-bottom;
}


/* PRÓXIMA PÁGINA */

.produtos-proxima-pagina {
    gap: 5px;
}

.produtos-proxima-pagina a {
    font-size: .8rem;
    padding: 6px 10px;
    border-radius: 8px;
}

.produtos-proxima-pagina img {
    width: 15px;
}

/* FOOTER */

.footer-informacoes {
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.footer-info h2 {
    font-size: 1.4rem;
}

.footer-info a {
    font-size: .9rem;
}

.footer-rs {
    width: 150px;
    margin-bottom: 30px;
}

.footer-contato-btn {
    width: 150px;
    text-align: center;
}

}